@mixin flex-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) {
  .explore {
      height: 100vh;
      display: flex;
      @include flex-center();
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(https://images.unsplash.com/photo-1469440017877-5a52ab9acdb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    background-position: bottom;

    &__herotext {
      display: flex;
      @include flex-center();
      color: whitesmoke;
      margin-bottom: 10vh;;
      h1 {
        text-shadow: 3px 3px 1px #222;
        font-size:2em;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (min-width:375px){
    .explore{
        &__herotext{
            h1{
                font-size:2.8em;
            }
            p{
                font-size: .8em;
            }
        }
    }
}

@media only screen and (min-width:375px){
    .explore{
        &__herotext{
            h1{
                font-size: 3em;
            }
            p{
                font-size: 1em;
            }
        }
    }
}

@media only screen and (min-width: 1025px){
    .explore{
        &__herotext{
            margin:0;
        }
        .video__button{
            display: none;
        }
    }
}
