@mixin flex-center {
    display: flex;
    flex-direction: center;
    align-items: center;
}

@media only screen and (min-width: 320px){
    .homeCard{
        &__card{
            @include flex-center();
            margin:10px 0; 
            width:85%;
            height:20vh;
            background:rgb(51, 51, 51);
            color:whitesmoke;
            img{
                width:45%;
                height: 100%;
                object-fit: cover;
            }
            &_text{
                padding:0 15px;
                display: flex;
                flex-direction: column;
                a{
                    color:white;
                    background: rgb(247, 112, 112);
                    padding:5px 10px;
                    width:fit-content;
                    margin:0 auto;
                    margin-top:10px;
                    text-decoration: none;
                    transition: 1s;
                    &:hover{
                        background:rgb(247, 69, 69)
                    }
                }
            }
        }
        &__bg{
            background:#fff8f0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 768px){
    .homeCard{
        &__card{
            &_text{
                a{
                    margin-top:20px;
                }
            }
        }
    }  
}
