@import url("https://fonts.googleapis.com/css?family=Modak|Source+Sans+Pro&display=swap");

// font-family: 'Modak', cursive;
// font-family: 'Source Sans Pro', sans-serif;

h1,
h2 {
  font-family: "Modak", cursive;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}
