@import url("https://fonts.googleapis.com/css?family=Shojumaru|Modak|Source+Sans+Pro&display=swap");
//font-family: 'Shojumaru', ;
// font-family: 'Modak', cursive;
// font-family: 'Source Sans Pro', sans-serif;
html {
  scroll-behavior: smooth;
}
h1,
h2 {
  font-family: "Shojumaru";
}
p,
button {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
}

@keyframes mobileHover {
  0%,
  100% {
    position: absolute;
    top: 43%;
  }
  50% {
    top: 46%;
  }
}
